/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

.marginTop {
    margin-top: 15px;
}

.container {
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
}

.highlighted {
    background-color: #ffff00;
}

/* HEADER */
#logo {
    height: 50px;
    margin-top: 40px;
}

header {
    background-size: 300px;
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
}

/* MAIN */

.container h1 {
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fadedText {
    color: rgba(0, 0, 0, .5);
}

.smallText {
    font-size: 12px;
}

.blueText {
    color: #47b8e9;
}

/* lista */
div ul {
    margin-left: 40px;
}

/* table */

table {
    border-collapse: collapse;
}

thead {
    text-align: left;
    color: white;
    background-color: #20a9e5;
}

.rigaAzzurra {
    background-color: #b1e5f2;
}

.column25 {
    width: 25%;
}

/* FOOTER */

.imageFooter {
    width: 300px;
    height: 200px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-size: cover;
    padding: 15px;
}

.imageFooter.Uno {
    background-image: url(../img/monitor.jpg);
}

.imageFooter.Due {
    background-image: url(../img/graph.jpg);
}